<div class="row">
  <div class="col-md-5">
      <form [formGroup]="this.callerService.form" (ngSubmit)="onSubmit()">
        <input type="hidden" formControlName="$key">
        <div class="form-group">
          <label>Callee Number</label>
          <input formControlName="calleeNum" class="form-control" [ngClass]="{'is-invalid': submitted && formControls.calleeNum.errors}">
          <div class="invalid-feedback" *ngIf="submitted && formControls.calleeNum.errors">
              This field is required.
          </div>
        </div>

        <div class="form-group">
            <label>Caller Number</label>
            <input formControlName="callerNum" class="form-control" [ngClass]="{'is-invalid': submitted && formControls.callerNum.errors}">
            <div class="invalid-feedback" *ngIf="submitted && formControls.callerNum.errors">
                This field is required.
            </div>
        </div>

        <div class="form-group"> 
            <input type="submit" class="btn btn-primary" value="Submit">
        </div>
    </form>
    <div class="alert alert-info" *ngIf="showSuccessMessage">
        Submitted successfully
    </div>
  </div>  
  <div class="col-md-7">
    <app-caller-list></app-caller-list>
  </div>    
</div> 